[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snscrape = "*"
ipykernel = "*"
pandas = "*"
streamlit = "*"
spacy = "*"
nltk = "*"
ghostscript = "*"

[dev-packages]

[requires]
python_version = "3.8"
